[submodule "src/tslib"]
	path = src/tslib
	url = /var/git.root/tslib
[submodule "src/R.tslib.backend"]
	path = src/R.tslib.backend
	url = /var/git.root/R/R.tslib.backend
[submodule "src/RAbstraction"]
	path = src/RAbstraction
	url = /var/git.root/R/RAbstraction
