useDynLib(fts)

export(
       fts,
       as.fts,
       as.fts.default,
       as.matrix.fts,
       Ops.fts,
       "[.fts",
       "[<-.fts",
       head.fts,
       tail.fts,
       as.data.frame.fts,
       cbind.fts,
       rbind.fts,
       pad,
       trim,
       read.csv.fts,
       read.rds.fts,
       write.csv.fts,
       write.rds.fts,
       print.fts,

       to.quarterly,
       to.weekly,
       to.monthly,

       moving.mean,
       moving.sum,
       moving.product,
       moving.max,
       moving.min,
       moving.rank,
       moving.sd,
       moving.cor,
       moving.cov,
       since.na,
       lead,
       lead.fts,
       lag.fts,
       fill.fwd,
       fill.bwd,
       fill.value,

       plot.fts,

       dates,
       dates.fts,
       "dates<-",
       event.dates,

       remove.na.rows,
       remove.all.na.rows,
       row.apply,
       row.any,
       row.all,
       column.apply,
       col.any,
       col.all
)
