useDynLib(Rseries)

export(
       rseries,
       as.rseries,
       as.rseries.default,
       as.matrix.rseries,
       Ops.rseries,
       "[.rseries",
       "[<-.rseries",
       head.rseries,
       tail.rseries,
       as.data.frame.rseries,
       cbind.rseries,
       rbind.rseries,
       pad,
       trim,
       read.csv.rseries,
       read.rds.rseries,
       write.csv.rseries,
       write.rds.rseries,
       print.rseries,

       to.quarterly,
       to.weekly,
       to.monthly,

       moving.mean,
       moving.sum,
       moving.max,
       moving.min,
       moving.rank,
       moving.sd,
       moving.cor,
       moving.cov,
       since.na,
       lead,
       lead.rseries,
       lag.rseries,
       fill.fwd,
       fill.bwd,
       fill.value,

       plot.rseries,

       dates,
       dates.rseries,
       "dates<-",
       event.dates,

       remove.na.rows,
       remove.all.na.rows,
       row.apply,
       row.any,
       row.all,
       column.apply,
       col.any,
       col.all
)
